<html>
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
        <link  rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="site-navigation">
            <h1>Список сверстанных страниц</h1>

            <ul class="site-navigation__list">
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageErrors/pageError-404.hbs" class="site-navigation__link fs-16">Ошибка 404</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageErrors/pageError-500.hbs" class="site-navigation__link fs-16">Ошибка 500</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageForms/pageForm-login.hbs" class="site-navigation__link fs-16">Форма Вход</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageForms/pageForm-reg.hbs" class="site-navigation__link fs-16">Форма Регистрация</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageChat/pageChat-empty.hbs" class="site-navigation__link fs-16">Чат выбор</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageChat/pageChat-correspondence.hbs" class="site-navigation__link fs-16">Чат переписка</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageChat/pageChat-functions.hbs" class="site-navigation__link fs-16">Чат функции чата</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageChat/pageChat-search.hbs" class="site-navigation__link fs-16">Чат поиск</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageChat/pageChat-add-user.hbs" class="site-navigation__link fs-16">Чат добавить пользователя</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageChat/pageChat-remove-user.hbs" class="site-navigation__link fs-16">Чат удалить пользователя</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageProfil/pageProfile.hbs" class="site-navigation__link fs-16">Профиль </a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageProfil/pageProfile-edit.hbs" class="site-navigation__link fs-16">Профиль изменение данных</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageProfil/pageProfile-modal.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageProfil/pageProfile-modal-ok.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл - успешно</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageProfil/pageProfile-modal-error-file.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл - ошибка</a>
                </li>
                <li class="site-navigation__el">
                    <a target="_blank" href="pages/pageProfil/pageProfile-modal-error-load.hbs" class="site-navigation__link fs-16">Профиль Загрузите файл - ошибка загрузки</a>
                </li>
            </ul>
        </div>
    </body>
</html>
